.App {
  font-size: 14pt;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
}

.App-header {
  background-color: #6f7991;
}

.App-header {
  padding: 0.5rem 1rem;

}

.App-header h1 {
  margin: 0;
}

.App-main {
  padding: 0.5rem 1rem;
}

.Queue img {
  height: 1rem;
}

.Queue table {
  width: 100%;
}

.Queue table td.spotify {
  background-image: url("spotify.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.Queue table td.youtube {
  background-image: url("youtube.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.Queue .type {
  width: 1rem;
  text-align: center;
  vertical-align: middle;
}

label.SearchToggle input[type="checkbox"] {
  display: none;
}

label.SearchToggle span {
  display: inline-block;
  border: 1px solid #BBB;
  border-radius:0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin: 3px;
  position: relative;
  transition: width 0.1s, height 0.1s, margin 0.1s;
  filter: grayscale(80%);
  margin: 0.25rem 0.5rem;
  cursor: pointer;
}

label.SearchToggle :checked + span {
  filter: grayscale(0);
  width: 2rem;
  height: 2rem;
  margin: 0 0.25rem;
}

label.SearchToggle span:after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
}

label.SearchToggle.SpotifyToggle span:after {
  background-image: url("spotify.svg");
}

label.SearchToggle.YoutubeToggle span:after {
  background-image: url("youtube.svg");
}

.Search {
  width: 100%;
  overflow: auto; /* Prevent .Search div from collapsing */
}

.Search .Toggles {
  float: left;
}

.Search .SearchBar {
  float: right;
  width: calc(100% - 5.5rem);
}

.Search .SearchBar input {
  width: 100%;
  height: calc(2rem + 2px);
  box-sizing: border-box;
}
